$background-colour: #F1F6F2;
$border-radius:12px;

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  display: grid;
  height: 100vh;
  grid-template-columns: 2.5fr 1.2fr;
  grid-template-rows: 0.15fr 1.2fr 0.13fr 0.2fr;
  grid-gap: 0.4rem;


}

#image {
  grid-column: 1/2;
  grid-row: 1/5;
  display: flex;
  align-items: center;

}

img {
  max-width: 100%;
  height: auto;
}

#img {

  width: 612px;
  min-height: 612px;
  object-fit: cover;

}


#title {
  background: $background-colour;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  border-radius: $border-radius;
  padding-left: 10px;

}

#description {
  background: $background-colour;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: $border-radius;
}

#info {
  background: $background-colour;
  grid-column: 2/3;
  grid-row: 3/4;
  border-radius: $border-radius;
  padding-left: 10px;
  font-weight: bold;

  display: flex;
  align-items: center;

}

#actions {

  padding-top: 20px;
  background: $background-colour;
  grid-column: 2/3;
  grid-row: 4/5;
  border-radius: $border-radius;

  text-align: center;



}
